<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBFrameworkMerge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C41EF341DFE7F30005AFEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C41EF4A1DFE7F31005AFEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C41EF551DFE7F31005AFEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
